<!-- module html  -->
<div id="second-section" class="card-container">
  {% for item in module.card %}
  <div class="image">
    {% if item.image.src %}
       {# {% set sizeAttrs = "width=\"250\" height=\"167\"" %}
         % if item.image.size_type == "auto" %}
        {% set sizeAttrs = "width=\"{{ item.image.width }}\" height=\"{{ item.image.height }}\" style=\"max-width: 100%; height: auto;\"" %}
      {% elif item.image.size_type == "auto_custom_max" %}
        {% set sizeAttrs = "width=\"{{ item.image.max_width }}\" height=\"{{ item.image.max_height }}\" style=\"max-width: 100%; height: auto;\"" %}
      {% endif %} #}
      {% set loadingAttr = item.image.loading != "disabled" ? "loading=\"{{ item.image.loading }}\" " : "" %}
      {# <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }} /> #}
      <img
      srcset="{{ resize_image_url(item.image.src, 288) }}288w,{{ resize_image_url(item.image.src, 468) }}468w,{{ resize_image_url(item.image.src, 736) }}736w,{{ resize_image_url(item.image.src, 928) }}928w"
      sizes="(max-width: 320px) 288px,(max-width: 500px) 468px,(max-width: 768px) 288px, 736px, 928px"
      src="{{ item.image.src }}"
      alt="{{ item.image.alt }}"
      width="{{ item.image.width }}"
      height="{{ item.image.height }}"
      {{ loadingAttr }}
    />
    
    {% endif %}
      <div class="title">
      {% inline_text
        field="title",
        value="{{ item.title }}" %}
      </div>
      <div class="text" style="color: {{ module.style.field_group.text_color.color }}">
      
        {% inline_text
          field="text",
          value="{{ item.text }}" %}
      </div>
  </div>
  {% endfor %}
</div>

{% require_css %}
  <style>
  {% scope_css %}
    
    .text{
      color: {{ module.style.field_group.text_color.color }}
      
    }
  {% end_scope_css %} 
  </style>
{% end_require_css %}
